{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Delete Article</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>Delete "{{ object.header }}"?</p>
    <input type="submit" value="Delete" />

</form>
    <style>
   button {
    background: #F7941E; /* оранжевый фон */
    color: #fff; /* Белый текст */
    border: none; /* нет рамки */
    padding: 0.2rem 1.2rem; /* Поля вокруг текста */
    margin-bottom: 1rem; /* Отступ снизу */
    margin-top:10px;
   }
   </style>
<button type="button" class="orange" name="No"
        onclick="document.location.href='{% url 'post_list' %}'">No</button>
{% endblock content %}