{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
New
{% endblock title %}

{% block content %}
   <h1>{{ new.header }}</h1>
    <style>
        table {
	        border-spacing: 10px
        }
        td {
        padding: 10px;
        }
    </style>

   <hr>
 {% if new %}
       <table>
           <tr>
               <td><h5>Date created</h5></td>
               <td><h5>Content</h5></td>
           </tr>

           <tr>
               <td>{{ new.date_created|date:'d M Y' }}</td>
               <td>{{ new.content|censor }}</td>
           </tr>
       </table>

{% else %}
       <h2>No article!</h2>
{% endif %}
{% endblock content %}